## Copyright (C) 2025 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=leapctl - Enable access to privleap for each user
Requires=privleapd.service user@.service
After=privleapd.service user@.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/leapctl --create %i
ExecStop=/usr/bin/leapctl --destroy %i
Restart=on-failure
RestartPreventExitStatus=2
RestartSec=20

[Install]
WantedBy=user@.service
