## Copyright (C) 2025 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=privleap - Limited Privilege Escalation Framework
StartLimitIntervalSec=10
StartLimitBurst=3
DefaultDependencies=no
Requires=sysinit.target
After=sysinit.target
Conflicts=shutdown.target
Before=basic.target
Before=shutdown.target

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/bin/privleapd
ExecReload=/usr/bin/leapctl --reload
WatchdogSec=10s
Restart=always

[Install]
WantedBy=multi-user.target
