## Copyright (C) 2025 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=privleap - Limited Privilege Escalation Framework
StartLimitIntervalSec=10
StartLimitBurst=3

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/bin/privleapd
WatchdogSec=10s
Restart=always

[Install]
WantedBy=multi-user.target
